/* table */
.timetable {
    display: table;
    border-collapse: collapse;

}  

/* tr */
.timerow{
	display: table-row; 
}

/* td , th */
.cell1 {
    display: table-cell;
    width: 50px;
    /* border: 1px dotted #000; */
    font-size: 20px;
}

.cell2 {
    display: table-cell;
    width: 150px;
    font-size: 20px;
    /* border: 1px dotted #000; */
}

.cell3 {
    display: table-cell;
    width: 30px;
    font-size: 20px;
    /* border: 1px dotted #000; */
}

.cell4 {
    display: table-cell;
    width: 250px;
    font-size: 20px;
    /* border: 1px dotted #000; */
}

.cell5 {
    display: table-cell;
    width: 30px;
    font-size: 20px;
    /* border: 1px dotted #000; */
}

.cell6 {
    display: table-cell;
    width: 250px;
    font-size: 20px;
    /* border: 1px dotted #000; */
}

.cell7 {
    display: table-cell;
    width: 400px;
    padding-left: 70px;
    font-size: 20px;
    /* border: 1px dotted #000; */
}
.cell8 {
    display: table-cell;
    width: 180px;
    padding-left: 70px;
    font-size: 20px;
    /* border: 1px dotted #000; */
}