<!doctype html>
<html lang="en" ng-app="cipmApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIP-M</title>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="styles/kendo.black.min.css" rel="stylesheet" />
    <link href="styles/kendo.common.min.css" rel="stylesheet" />
    <link href="styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="styles/kendo.silver.min.css" rel="stylesheet" />
    <link href="styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="css/dashboard/dashboard.css" rel="stylesheet" />
    <link href="css/nv.d3.css" rel="stylesheet" />

    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/jquery.signalR-1.1.0-beta1.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="lib/d3.min.js"></script>
    <script src="lib/nv.d3.min.js"></script>
    <script src="lib/angular-nvd3.min.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>

    <script src="scripts/angular-translate.min.js"></script>
    <script src="scripts/dashboard.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/statusController.js"></script>
    <script src="scripts/realtimeController.js"></script>
    <script src="scripts/toArrayFilter.js"></script>
    <script src="scripts/ngAutocomplete.js"></script>

    <!--for history-->

    <link href="css/history-css/cupertino/jquery-ui-1.10.0.custom.css" rel="stylesheet">
    <link href="css/history-css/style.css" rel="stylesheet">
    <link href="css/history-css/combobox.css" rel="stylesheet">
    <link href="css/history-css/date-time-picker.css" rel="stylesheet">
    <link href="css/history-css/timeTable.css" rel="stylesheet">
    <link href="css/history-css/jquery.datetimepicker.css" rel="stylesheet">

    <script src="lib/history-js/history.js"></script>
    <script src="lib/history-js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="lib/history-js/graph.js"></script>
    <script src="lib/history-js/jquery.flot.min.js"></script>
    <script src="lib/history-js/jquery.flot.time.js"></script>
    <script src="lib/history-js/jquery.flot.selection.js"></script>
    <script src="lib/history-js/jquery.flot.resize.js"></script>
    <script src="lib/history-js/blob.js"></script>
    <script src="lib/history-js/fileSaver.js"></script>
    <script src="lib/history-js/dataExporter.js"></script>
    <script src="lib/history-js/highcharts.js"></script>
    <script src="lib/history-js/drawing-highcharts.js"></script>
    <script src="lib/history-js/combobox.js"></script>
    <script src="lib/history-js/numeral.min.js"></script>
    <script src="lib/history-js/moment.min.js"></script>
    <script src="lib/history-js/moment-timezone-with-data.min.js"></script>
    <script src="lib/history-js/date-time-picker.js"></script>
    <script src="lib/history-js/jquery.datetimepicker.js"></script>
    <script src="lib/history-js/angular.datetime.js"></script>
    <script src="scripts/translateController.js"></script>
    <script src="scripts/settingController.js"></script>

    <script type="text/javascript">
        function reSetIframeHeight() {
            var iframeObj = document.getElementById("frameViewer"); //iframe id
            var fixHeight = window.innerHeight - 24 - 100 || 0;
            if (iframeObj) {
                iframeObj.height = fixHeight;
            }
        }

        window.onresize = function (event) {
            angular.element(document.getElementById('bodyid')).scope().$apply();
            reSetIframeHeight();
        };
    </script>
</head>
<body ng-controller="MasterCtrl">
    <div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak ng-controller="TranslateCtrl">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a href="#" ng-click="toggleSidebar()">
                        <!--<span></span>-->CIP-M
                        <span class="menu-icon glyphicon glyphicon-transfer"></span>
                    </a>
                </li>
                <li class="sidebar-title"><span>{{ 'NAVIGATION' | translate }}</span></li>
                <li class="sidebar-list">
                    <a href="#">{{ 'CIPDSTATUS' | translate }} <span class="menu-icon fa fa-tachometer"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#/realtime">{{ 'REALTIMECHART' | translate }} <span class="menu-icon fa fa-bar-chart-o"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#/history">{{ 'HISTORICALCHART' | translate }} <span class="menu-icon fa fa-line-chart"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#/set">{{ 'SET' | translate }} <span class="menu-icon fa fa-cog"></span></a>
                </li>
            </ul>
        </div>
        <!-- End Sidebar -->
        <div id="content-wrapper">
            <div class="page-content">
                <!-- Header Bar -->

                <div class="row header">

                    <div class="col-xs-12">
                        <!--<div class="user pull-right">               
                            <div class="item dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <img src="img/avatar.jpg">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        User
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a href="#">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                        <div class="user pull-right">
                            <div class="item dropdown">
                                <a href="#" class="dropdown-toggle" ng-click="changeLanguage('zhTW')">
                                    <img src="img/Taiwan.png">
                                </a>                      
                            </div>

                        </div>
                        <div class="user pull-right">
                            <div class="item dropdown">
                                <a href="#" class="dropdown-toggle" ng-click="changeLanguage('en')">
                                    <img src="img/UnitedStates.png">
                                </a>
                            </div>
                        </div>
                        <!--<div class="meta">
                          <div class="page">
                            Dashboard
                          </div>
                          <div class="breadcrumb-links">
                            Home / Dashboard
                          </div>
                        </div>-->
                    </div>
                </div>
                <!-- End Header Bar -->
                <!-- Main Content -->
                <section data-ui-view></section>
            </div><!-- End Page Content -->
        </div><!-- End Content Wrapper -->
    </div><!-- End Page Wrapper -->

   
</body>
</html>
