
<div ng-controller="productCtrl">

	

	<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
		<thead>
			<tr>
				
				<th ng-model="flex_name" st-sort="flex_name">[[flex_name]]</th>
				<th ng-model="flex_item" st-sort="flex_item">[[flex_item]]</th>
				<th ng-model="flex_cost" st-sort="flex_cost">[[flex_cost]]</th>
				
			</tr>
			<tr>                  
				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text" /></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in displayedCollection">
				
				<td ng-click="item_detail(row)">[[row.pk]][[row.materialname]]</td>
				<td>[[row.fields.price]][[row.quantity]]</td>
				<td>[[row.cost]]</td>
				
				<td>
					<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle">
						</i>
					</button>

				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="7" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>
	

	<span style="float:left;">新增品項</span>
	<input  class="form-control" style="width:100px;float:left;"  type="text" ng-model="product_name" />
	<span style="float:left;">價錢</span>
	<input  class="form-control" style="width:100px;float:left;"  type="text" ng-model="product_price" />
	<!-- <button type="submit" class="save btn btn-default" style="color:steelblue;float:left;" ng-click="addItem()">
		<i class="fa fa-plus" ></i>
	</button>	 -->

	<button id="create-user" type="button" ng-click="addNewItem()" class="btn btn-sm btn-success" >
		<i class="glyphicon glyphicon-plus">
			<a href="#/product_add"></span></a>
		</i>Add New Item
	</button>
	
	<!-- add new product and material -->
	<div class="" style="border:2px solid;border-style: ridge;margin:20px 50px;width:50%" ng-show="product_name">
		<div class="padded-row" style="width:40%;float:left;">
				
				<angucomplete id="ex1" placeholder="Search item" pause="100" selectedobject="selectedMaterial" localdata="material" searchfields="pk" titlefield="pk" minlength="1" inputclass="form-control form-control-small" matchclass="highlight" />
			</div>
			<div class="" ng-show="selectedMaterial">
				<!-- You selected <span class="bold-span">[[selectedMaterial.originalObject.pk]]</span>  -->
			</div>
			<input class="form-control" style="width:10%;margin-left:50px;float:left;"  type="text" ng-model="units" name="skill" />
					
			<button type="submit" class="save btn btn-default" style="float:left;color:steelblue" ng-click="submit_material()">
				<i class="fa fa-plus" ></i>
			</button>
		<table st-table="displayedCollection_material" st-safe-src="rowCollection_material" class="table table-striped">
		<thead>
			<tr>
				
				<th ng-model="flex_name" st-sort="lastName">material</th>
				<th ng-model="flex_item" st-sort="birthDate">units</th>
				
			</tr>
			
		</thead>
		<tbody>
			<tr ng-repeat="row_material in displayedCollection_material">
				
				<td>[[row_material.materialname]]</td>
				<td>[[row_material.units]]</td>
				
				<td>
					<button type="button" ng-click="removematerial(row_material)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle">
						</i>
					</button>

				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="7" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>
	</div>
	
	
	
</div>

