<div class="row" ng-controller="StatusController">

    <!--<div kendo-grid
         k-data-source="gridData"
        >
    </div>-->

    <div class="widget" ng-controller="TranslateCtrl">
        <div class="widget-header">
            <i class="fa fa-tasks"></i> CIP-D


        </div>
        <div class="widget-body medium no-padding">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td></td>
                            <td>{{ 'NO' | translate }}</td>
                            <td>{{'Description' | translate}}</td>
                            <td>{{ 'STATUS' | translate }}</td>
                            <!--<td>{{ 'CPU' | translate }}</td>-->
                            <td>{{ 'RAM' | translate }}</td>
                            <td>{{ 'CDISK' | translate }}</td>
                            <td>{{ 'DDISK' | translate }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr>
                            <td><img src="img/green.png" ng-show="cipd1_live" /><img src="img/red.png" ng-show="cipd1_died" /></td>
                            <td>cipd1</td>
                            <td>{{cipd1Status}}</td>
                            <td>{{cipd1CPU}}</td>
                            <td>{{cipd1RAM}}</td>
                            <td>{{cipd1Disk}}</td>
                        </tr>-->
                 
                        <tr ng-repeat="data in dataset1 ">
                            <td><img src="img/green.png" ng-show="data[0].Live" /><img src="img/red.png" ng-show="data[0].Died" /></td>
                            <td>{{data[0].No}}</td>
                            <td>{{data[0].Description}}</td>
                            <td>{{data[0].Status}}</td>
                            <!--<td>{{data[0].CPU}}</td>-->
                            <td>{{data[0].RAM}}</td>
                            <td>{{data[0].CDISKA}}GB,{{data[0].CDISKP}}%</td>
                            <td>{{data[0].DDISKA}}GB,{{data[0].DDISKP}}%</td>
                        </tr>
                       
                        <!--<tr ng-repeat="count in cipdcount ">
                            <td><img src="img/green.png" ng-show="dataset1[count][0].Live" /><img src="img/red.png" ng-show="dataset1[count][0].Died" /></td>
                            <td>{{dataset1[count][0].No}}</td>
                            <td>{{dataset1[count][0].Status}}</td>
                            <td>{{dataset1[count][0].CPU}}</td>
                            <td>{{dataset1[count][0].RAM}}</td>
                            <td>{{dataset1[count][0].DISK}}</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
